body {
    background-color: lightblue;
    margin-left: 50px
}

#digimon-card {
    box-sizing: border-box;
    border: 10px solid black;
    padding: 10px;
    background-color: lightgrey;
    width: 365px;
    height: 520px;
}

#digimon-image {
    box-sizing: border-box;
    border: 2px solid black;
}

#box-container {
    box-sizing: border-box;
    border: 2px solid black;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    height: auto;
    width: 365px;
}

#digimon-container {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
    width: 300px;
    height: 250px;
    margin-top: 10px;
    overflow-y: auto;
}

.form-container {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: lightgreen;
    margin-top: 10px;
    padding: 10px;
    padding-top: 0px;
    width: 300px;
  }

#image {
    margin-left: 8px;
}

#level {
    margin-left: 1px;
}

.submit {
    margin-top: 10px;
}